CMakeCache.txt
Makefile
CMakeFiles/
cmake_install.cmake
tools/osm2mumoro
lib/libshortestpath.a
ui/gui/moc_object.cxx
ui/gui/mumoro
*.o
*.pyc
*~
*.db
temp_ways
*.tar.gz
*.egg
build/
dist/
*.dump
.kdev4/
*.kdev4
*.egg-info/
*.so
*-exe

lib/core/mumoro.py
lib/core/mumoro_wrap.cpp
